<div class="container" hx-target="this" hx-swap="outerHTML">
  <div class="card">
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-3">
            <input
              name="title"
              type="text"
              class="form-control"
              id="title"
              placeholder="Title"
            />
          </div>
          <div class="col-6">
            <input
              name="description"
              type="text"
              class="form-control"
              id="description"
              placeholder="Description"
            />
          </div>
          <div class="col-3 align">
            <button
              type="button"
              class="btn btn-primary"
              hx-post="{{ url_for('post') }}"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% if id != "" %}
<div
  hx-get="{{ url_for('get_one', id=id) }}"
  hx-trigger="load"
  hx-swap="outerHTML"
></div>
{% endif %}
